Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

mercury/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

mercury-ui/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

remark-mercury/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

react-without-cli-example/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

check-lockfile:
  tags: lockfile
  run: bun install --frozen-lockfile

fix build errors
  bun.lock
  bun.lockb
  examples/lt/package.json
  examples/lt/vite.config.ts
  examples/minimum/hast_end.json
  examples/minimum/hast_start.json
  examples/minimum/jsx_end.jsx
  examples/minimum/jsx_start.jsx
  examples/minimum/mdast_end.json
  examples/minimum/src/main.css
  examples/minimum/vite.config.ts
  examples/program/mdast_before_remark_mercury.json
  examples/program/package.json
  examples/program/src/main.css
  examples/program/src/snippets/presentation.jsx
  examples/program/src/snippets/presentation_simple_end.tsx
  examples/program/src/snippets/presentation_simple_start.tsx
  examples/program/vite.config.ts
  examples/react-without-cli/vite.config.ts
  examples/ridaisai-2024/vite.config.ts
  mercury.code-workspace
  package.json
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/control-menu/hooks/use-slides.ts
  packages/remark-mercury/package.json
  packages/remark-mercury/src/plugin.test.ts
  packages/remark-mercury/src/plugin.ts
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

docs: add slide contents
  examples/minimum/jsx_end.jsx
  examples/minimum/jsx_start.jsx
  examples/program/src/presentation.mdx
  packages/mercury-ui/src/components/control-menu/hooks/use-slides.ts
Due: mercury-ui/biome

chore: fix lockfile
  bun.lock
  examples/program/mdast_before_remark_mercury.json
  package.json
Due: none

docs: add slides
  bun.lock
  examples/program/package.json
  examples/program/src/assets/demo-slide.png
  examples/program/src/components/callout.tsx
  examples/program/src/components/center-layout.tsx
  examples/program/src/components/left-to-right.tsx
  examples/program/src/components/title.tsx
  examples/program/src/presentation.mdx
  packages/mercury-ui/src/components/slide/slide.tsx
Due: mercury-ui/biome, check-lockfile

wip
  examples/program/src/main.css
  examples/program/src/presentation.mdx
Due: none

feat: add keyboard shortcuts to go to next and prev slides
  bun.lock
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
Due: mercury-ui/biome, check-lockfile

refactor: json -> jsonc
  examples/program/src/presentation.mdx
Due: none

fix: broken layouts in mac
  examples/program/src/presentation.mdx
Due: none

chore: add debug example
  bun.lock
  examples/debug/.gitignore
  examples/debug/README.md
  examples/debug/biome.jsonc
  examples/debug/hast_end.json
  examples/debug/hast_start.json
  examples/debug/index.html
  examples/debug/jsx_end.jsx
  examples/debug/jsx_start.jsx
  examples/debug/mdast_after_remark_mercury.json
  examples/debug/mdast_before_remark_mercury.json
  examples/debug/mdast_end.json
  examples/debug/mdast_start.json
  examples/debug/package.json
  examples/debug/public/arch.drawio.svg
  examples/debug/public/vite.svg
  examples/debug/src/main.css
  examples/debug/src/main.tsx
  examples/debug/src/presentation.mdx
  examples/debug/src/shiki.css
  examples/debug/src/vite-env.d.ts
  examples/debug/tsconfig.app.json
  examples/debug/tsconfig.json
  examples/debug/tsconfig.node.json
  examples/debug/vite.config.ts
  examples/minimum/README.md
  examples/minimum/mdast_after_remark_mercury copy.json
Due: check-lockfile

chore: update code-workspace
  mercury.code-workspace
Due: none

chore: update Storybook configuration and dependencies
  bun.lock
  packages/mercury-ui/.storybook/main.ts
  packages/mercury-ui/.storybook/manager.ts
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/blockquote/blockquote.stories.tsx
  packages/mercury-ui/src/components/button/button.stories.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
  packages/mercury-ui/src/components/heading/heading.stories.tsx
  packages/mercury/package.json
Due: mercury/biome, mercury-ui/biome, check-lockfile

chore: update Storybook configuration and dependencies (#106)
  bun.lock
  packages/mercury-ui/.storybook/main.ts
  packages/mercury-ui/.storybook/manager.ts
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/blockquote/blockquote.stories.tsx
  packages/mercury-ui/src/components/button/button.stories.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
  packages/mercury-ui/src/components/heading/heading.stories.tsx
  packages/mercury/package.json
Due: mercury/biome, mercury-ui/biome, check-lockfile

refactor: remove /install command
  .github/workflows/commands.yml
Due: none

refactor: implement setup action for development environment
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

chore: add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yml
Due: none

refactor: rename workflow from 'Publish package to npm' to 'Release' and update job structure
  .github/workflows/deploy.yml
Due: none

Update .github/actions/setup/action.yml
  .github/actions/setup/action.yml
Due: none

chore(ci): Refactor CI workflows and remove install command (#109)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/commands.yml
  .github/workflows/deploy.yml
Due: none

chore: add repository guidelines and structure in AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

feat(mercury-ui): add InlineCode story
  packages/mercury-ui/src/components/inline-code/inline-code.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): add Keyboard story
  packages/mercury-ui/src/components/keyboard/keyboard.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): add Link story
  packages/mercury-ui/src/components/link/link.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): add List stories (unordered and ordered)
  packages/mercury-ui/src/components/list/list.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): add Paragraph story
  packages/mercury-ui/src/components/paragraph/paragraph.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): add Tooltip story
  packages/mercury-ui/src/components/tooltip/tooltip.stories.tsx
Due: mercury-ui/biome

chore: sync workspace state before rebase
  examples/debug/hast_end.json
  examples/debug/hast_start.json
  examples/debug/jsx_end.jsx
  examples/debug/jsx_start.jsx
  examples/debug/mdast_end.json
  examples/debug/mdast_start.json
Due: none

fix(mercury-ui): correct List Ordered story types by removing incompatible args spread
  packages/mercury-ui/src/components/list/list.stories.tsx
Due: mercury-ui/biome

fix(mercury-ui): correct type name for OrderedListProps in list component
  packages/mercury-ui/src/components/list/index.ts
  packages/mercury-ui/src/components/list/list.stories.tsx
  packages/mercury-ui/src/components/list/list.tsx
Due: mercury-ui/biome

chore(ci): add TypeScript type checking
  .github/workflows/ci.yml
  package.json
  packages/mercury-ui/package.json
  packages/mercury/package.json
  packages/remark-mercury/package.json
  packages/vite-plugin-mercury/package.json
  turbo.json
Due: mercury/biome, mercury-ui/biome, remark-mercury/biome, check-lockfile

chore(ci): add TypeScript type checking (#111)
  .github/workflows/ci.yml
  package.json
  packages/mercury-ui/package.json
  packages/mercury/package.json
  packages/remark-mercury/package.json
  packages/vite-plugin-mercury/package.json
  turbo.json
Due: mercury/biome, mercury-ui/biome, remark-mercury/biome, check-lockfile

feat(mercury-ui): add stories for InlineCode, Keyboard, Link, List, Paragraph, Tooltip (#110)
  AGENTS.md
  CLAUDE.md
  examples/debug/hast_end.json
  examples/debug/hast_start.json
  examples/debug/jsx_end.jsx
  examples/debug/jsx_start.jsx
  examples/debug/mdast_end.json
  examples/debug/mdast_start.json
  packages/mercury-ui/src/components/inline-code/inline-code.stories.tsx
  packages/mercury-ui/src/components/keyboard/keyboard.stories.tsx
  packages/mercury-ui/src/components/link/link.stories.tsx
  packages/mercury-ui/src/components/list/index.ts
  packages/mercury-ui/src/components/list/list.stories.tsx
  packages/mercury-ui/src/components/list/list.tsx
  packages/mercury-ui/src/components/paragraph/paragraph.stories.tsx
  packages/mercury-ui/src/components/tooltip/tooltip.stories.tsx
Due: mercury-ui/biome

chore: add missing dependency for typecheck task
  turbo.json
Due: none

refactor(ci): move type check job to separate step
  .github/workflows/ci.yml
Due: none

chore(ci): Refactor CI to separate type check step and add dependency (#114)
  .github/workflows/ci.yml
  turbo.json
Due: none

feat(control-menu): update Default story with slidesLength and add Router decorator
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
Due: mercury-ui/biome

feat(control-menu): add virtual routing decorator for Storybook
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
  packages/mercury-ui/src/storybook/virtual-routing-decorator.tsx
Due: mercury-ui/biome

refactor(virtual-routing): remove eslint disable comment for hooks
  packages/mercury-ui/src/storybook/virtual-routing-decorator.tsx
Due: mercury-ui/biome

fix: Fix Control Menu stories with virtual routing support (#115)
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
  packages/mercury-ui/src/storybook/virtual-routing-decorator.tsx
Due: mercury-ui/biome

perf: Fix virtualLocationHook memoization in Storybook decorator to prevent unnecessary re-renders (#120)
  packages/mercury-ui/src/storybook/virtual-routing-decorator.tsx
Due: mercury-ui/biome

Path conditions:
  mercury/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/mercury/
  mercury-ui/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/mercury\-ui/
  remark-mercury/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/remark\-mercury/
  react-without-cli-example/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^examples/react\-without\-cli/
  check-lockfile: any of: **/package.json
