Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

lefthook.yml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/lefthook.json

pre-commit:
  parallel: true
  commands:
    mercury/biome:
      root: packages/mercury
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    mercury-ui/biome:
      root: "packages/mercury-ui/"
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    remark-mercury/biome:
      root: packages/remark-mercury
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    react-without-cli-example/biome:
      root: examples/react-without-cli
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    check-lockfile:
      glob: "**/package.json"
      tags: lockfile
      run: bun install --frozen-lockfile

docs(mercury-ui): add CodeBlock component stories
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
Due: mercury-ui/biome

feat(mercury-ui): improve padding and styling for CodeBlock component
  packages/mercury-ui/src/components/code-block/code-block.tsx
Due: mercury-ui/biome

fix: extract VirtualRoutingWrapper to prevent React remounting issues (#123)
  packages/mercury-ui/src/storybook/virtual-routing-decorator.tsx
Due: mercury-ui/biome

docs: add commit message guideline for conventional commits
  .github/copilot-commit-message-instructions.md
  .vscode/settings.json
Due: none

feat(mercury-ui): implement ThemeProvider and presentation-related components
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/presentation/presentation.stories.tsx
  packages/mercury-ui/src/components/presentations-provider/presentations-provider.tsx
  packages/mercury-ui/src/components/theme-provider/index.ts
  packages/mercury-ui/src/components/theme-provider/theme-provider.tsx
  packages/mercury-ui/src/storybook/presentations-decorator.tsx
  packages/mercury-ui/src/storybook/theme-decorator.tsx
Due: mercury-ui/biome

refactor(mercury-ui): reorganize imports in code-block stories
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
Due: mercury-ui/biome

docs(mercury-ui): add stories (#128)
  .github/copilot-commit-message-instructions.md
  .vscode/settings.json
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/presentation/presentation.stories.tsx
  packages/mercury-ui/src/components/presentations-provider/presentations-provider.tsx
  packages/mercury-ui/src/components/theme-provider/index.ts
  packages/mercury-ui/src/components/theme-provider/theme-provider.tsx
  packages/mercury-ui/src/storybook/presentations-decorator.tsx
  packages/mercury-ui/src/storybook/theme-decorator.tsx
Due: mercury-ui/biome

refactor(mercury-ui): update component types for better type safety
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/presentation/presentation.tsx
Due: mercury-ui/biome

refactor(mercury-ui): update component types for better type safety (#131)
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/presentation/presentation.tsx
Due: mercury-ui/biome

feat(mercury-ui): add auto-scrolling for tall CodeBlocks in presentations
  .gitignore
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/storybook/mdx-helpers.tsx
Due: mercury-ui/biome

fix(mercury-ui): resolve slide width inconsistency and height overflow for CodeBlock components
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
Due: mercury-ui/biome

feat: enhance code block (#134)
  .gitignore
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/mercury-ui/src/storybook/mdx-helpers.tsx
Due: mercury-ui/biome

feat(vite-plugin-mercury): add transformer for meta class attribute
  examples/react-without-cli/src/Presentation.mdx
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/meta-class.ts
Due: mercury-ui/biome

feat(vite-plugin-mercury): add transformer for meta class attribute (#141)
  examples/react-without-cli/src/Presentation.mdx
  packages/mercury-ui/src/components/code-block/code-block.stories.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/meta-class.ts
Due: mercury-ui/biome

fix(deps): update vite to v7
  bun.lock
  examples/debug/package.json
  examples/debug/vite.config.ts
  examples/lt/package.json
  examples/lt/vite.config.ts
  examples/program/package.json
  examples/program/vite.config.ts
  examples/react-without-cli/package.json
  examples/react-without-cli/vite.config.ts
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/vite.config.ts
  packages/mercury-ui/package.json
  packages/mercury-ui/vite.config.ts
  packages/remark-mercury/package.json
Due: mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

chore(mercury-ui): update build and storybook configuration to work with tailwindcss v4
  .vscode/settings.json
  bun.lock
  packages/mercury-ui/.storybook/main.ts
  packages/mercury-ui/.storybook/preview.css
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/.storybook/vite.config.ts
  packages/mercury-ui/.storybook/vitest.setup.ts
  packages/mercury-ui/package.json
  packages/mercury-ui/postcss.config.js
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/index.css
  packages/mercury-ui/src/index.ts
  packages/mercury-ui/src/styles/shiki.css
  packages/mercury-ui/src/styles/style.css
  packages/mercury-ui/src/styles/theme.css
  packages/mercury-ui/tailwind.config.ts
  packages/mercury-ui/vite.config.ts
  packages/mercury-ui/vitest.shims.d.ts
Due: mercury-ui/biome, check-lockfile

feat(mercury-ui): add tailwindcss reference to theme.css
  packages/mercury-ui/src/styles/theme.css
Due: none

chore(examples/ridaisai-2024): fix configuration to use tailwindcss v4
  bun.lock
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/postcss.config.js
  examples/ridaisai-2024/src/main.css
  examples/ridaisai-2024/tailwind.config.ts
  examples/ridaisai-2024/vite.config.ts
  packages/mercury-ui/src/index.ts
Due: mercury-ui/biome, check-lockfile

chore(examples/ridaisai-2024): remove unused tailwindcss animation dependencies
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/src/main.tsx
Due: check-lockfile

chore(examples/react-without-cli): fix configuration to use tailwindcss v4
  bun.lock
  examples/react-without-cli/package.json
  examples/react-without-cli/postcss.config.js
  examples/react-without-cli/src/main.css
  examples/react-without-cli/src/main.tsx
  examples/react-without-cli/tailwind.config.ts
  examples/react-without-cli/vite.config.ts
Due: react-without-cli-example/biome, check-lockfile

chore(examples/program): fix configuration to use tailwindcss v4
  examples/program/package.json
  examples/program/src/main.css
  examples/program/src/shiki.css
Due: check-lockfile

chore(examples/lt): fix configuration to use tailwindcss v4
  examples/lt/package.json
  examples/lt/postcss.config.js
  examples/lt/src/main.css
  examples/lt/src/main.tsx
  examples/lt/tailwind.config.ts
  examples/lt/vite.config.ts
Due: check-lockfile

chore(examples/debug): fix configuration to use tailwindcss v4
  examples/debug/package.json
  examples/debug/src/main.css
Due: check-lockfile

chore: update lockfile
  bun.lock
Due: none

chore(docs): init waku
  .github/copilot-commit-message-instructions.md
  docs/.gitignore
  docs/bun.lock
  docs/package.json
  docs/postcss.config.js
  docs/public/images/favicon.png
  docs/public/robots.txt
  docs/src/components/counter.tsx
  docs/src/components/footer.tsx
  docs/src/components/header.tsx
  docs/src/pages.gen.ts
  docs/src/pages/_layout.tsx
  docs/src/pages/about.tsx
  docs/src/pages/index.tsx
  docs/src/styles.css
  docs/tsconfig.json
Due: check-lockfile

refactor(docs): use @tailwindcss/vite instead of postcss
  bun.lock
  docs/bun.lock
  docs/package.json
  docs/postcss.config.js
  docs/src/styles.css
  docs/tsconfig.json
  docs/waku.config.ts
  package.json
Due: check-lockfile

chore(docs): add shadcn/ui
  bun.lock
  docs/components.json
  docs/package.json
  docs/src/components/counter.tsx
  docs/src/components/providers.tsx
  docs/src/components/theme-provider.tsx
  docs/src/components/ui/button.tsx
  docs/src/lib/utils.ts
  docs/src/pages.gen.ts
  docs/src/pages/_layout.tsx
  docs/src/pages/_root.tsx
  docs/src/styles.css
  docs/src/styles/globals.css
Due: check-lockfile

feat: remove unused files
  docs/src/components/counter.tsx
  docs/src/components/footer.tsx
  docs/src/components/header.tsx
  docs/src/pages/_layout.tsx
  docs/src/pages/about.tsx
  docs/src/pages/index.tsx
Due: none

feat(vite-plugin-mercury): add createMdxPlugins function and inline code test
  packages/vite-plugin-mercury/src/plugins/mdx/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.test.ts
Due: none

refactor(vite-plugin-mercury): improve test with @testing-library/dom
  bun.lock
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.test.ts
  packages/vite-plugin-mercury/vitest.config.ts
Due: check-lockfile

refactor(vite-plugin-mercury): extract test utilities to shared file
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.test.ts
  packages/vite-plugin-mercury/src/test-utils.ts
Due: check-lockfile

refactor(vite-plugin-mercury): simplify inline code test and remove unused code
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.test.ts
Due: none

feat(vite-plugin-mercury): add createMdxPlugins function and inline code test (#152)
  bun.lock
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.test.ts
  packages/vite-plugin-mercury/src/test-utils.ts
  packages/vite-plugin-mercury/vitest.config.ts
Due: check-lockfile

wip
  bun.lock
  docs/package.json
  docs/src/assets/icon.png
  docs/src/assets/icon_3d.png
  docs/src/assets/icon_3d_2.png
  docs/src/assets/icon_3d_original.png
  docs/src/assets/icon_original.png
  docs/src/components/footer.tsx
  docs/src/components/playground.tsx
  docs/src/components/ui/navigation-menu.tsx
  docs/src/components/ui/skeleton.tsx
  docs/src/hooks/use-has-mounted.ts
  docs/src/pages.gen.ts
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/(main)/index.tsx
  docs/src/pages/_root.tsx
  docs/src/pages/docs/index.tsx
  docs/src/pages/index.tsx
  docs/src/styles/globals.css
  docs/tsconfig.json
Due: check-lockfile

feat(docs): create landing page
  bun.lock
  docs/package.json
  docs/src/components/playground.tsx
  docs/src/components/providers.tsx
  docs/src/pages.gen.ts
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/(main)/index.tsx
  docs/src/pages/internal/playground-section.tsx
  docs/src/styles/globals.css
  docs/src/styles/playground.css
  examples/debug/package.json
  examples/debug/src/main.tsx
  examples/debug/vite.config.ts
  examples/lt/package.json
  examples/lt/src/main.tsx
  examples/program/package.json
  examples/program/src/main.tsx
  examples/program/src/snippets/presentation_simple_end.tsx
  examples/react-without-cli/package.json
  examples/react-without-cli/src/main.tsx
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/src/main.tsx
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/presentation/presentation.stories.tsx
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/mercury-ui/src/storybook/mdx-helpers.tsx
  packages/mercury-ui/src/styles/style.css
  packages/remark-mercury/src/plugin.ts
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/unified.ts
Due: mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

chore(docs): add biome configuration file and update import order in pages.gen.ts
  docs/biome.json
  docs/src/pages.gen.ts
Due: none

refactor(docs): remove console logs from MDX evaluation
  docs/src/components/playground.tsx
Due: none

fix(docs): correct height prop for Preview component in PlaygroundSection
  docs/src/components/playground.tsx
  docs/src/pages/internal/playground-section.tsx
Due: none

feat(docs): update DocsPage to indicate work in progress
  docs/src/pages/docs/index.tsx
Due: none

ci(deploy-website): add GitHub Actions workflow for deploying to GitHub Pages
  .github/workflows/deploy-website.yml
Due: none
