Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

lefthook.yml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/lefthook.json

pre-commit:
  parallel: true
  commands:
    mercury/biome:
      root: packages/mercury
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    mercury-ui/biome:
      root: "packages/mercury-ui/"
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    remark-mercury/biome:
      root: packages/remark-mercury
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    react-without-cli-example/biome:
      root: examples/react-without-cli
      tags: biome
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      stage_fixed: true
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

    check-lockfile:
      glob: "**/package.json"
      tags: lockfile
      run: bun install --frozen-lockfile

chore(deps): fix lockfile
  bun.lockb
Due: none

chore: ignore .storybook
  biome.jsonc
Due: none

format: apply biome
  examples/react-without-cli/src/main.css
  packages/mercury-ui/src/index.css
Due: none

docs: add lt example
  bun.lockb
  examples/lt/.gitignore
  examples/lt/README.md
  examples/lt/biome.jsonc
  examples/lt/index.html
  examples/lt/package.json
  examples/lt/postcss.config.js
  examples/lt/public/arch.drawio.svg
  examples/lt/public/vite.svg
  examples/lt/src/Presentation.mdx
  examples/lt/src/main.css
  examples/lt/src/main.tsx
  examples/lt/src/vite-env.d.ts
  examples/lt/tailwind.config.ts
  examples/lt/tsconfig.app.json
  examples/lt/tsconfig.json
  examples/lt/tsconfig.node.json
  examples/lt/vite.config.ts
Due: check-lockfile

feat(ui): add PresentationsProvider component
  bun.lockb
  examples/lt/src/main.tsx
  examples/react-without-cli/src/main.tsx
  packages/mercury-ui/biome.json
  packages/mercury-ui/src/components/index.ts
  packages/mercury-ui/src/components/presentations-provider/index.ts
  packages/mercury-ui/src/components/presentations-provider/presentations-provider.tsx
Due: mercury-ui/biome, react-without-cli-example/biome

style: apply biome
  examples/lt/src/main.css
Due: none

chore(deps): update dependencies
  bun.lockb
  examples/lt/package.json
  examples/react-without-cli/package.json
  package.json
  packages/mercury-ui/package.json
  packages/mercury/package.json
  packages/remark-mercury/package.json
  packages/vite-plugin-mercury/package.json
Due: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

chore(deps): upgrade biome version
  biome.jsonc
  bun.lockb
  examples/lt/biome.jsonc
  examples/react-without-cli/biome.jsonc
  package.json
  packages/mercury-ui/biome.json
  packages/remark-mercury/biome.jsonc
  packages/vite-plugin-mercury/biome.jsonc
Due: mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome

docs: update copyright year to 2024
  LICENSE
Due: none

chore(deps): upgrate vite version
  bun.lockb
  packages/vite-plugin-mercury/package.json
Due: check-lockfile

docs: update copyright year to 2024 (#27)
  LICENSE
Due: none

chore(deps): update dependencies (#25)
  biome.jsonc
  bun.lockb
  examples/lt/biome.jsonc
  examples/lt/package.json
  examples/react-without-cli/biome.jsonc
  examples/react-without-cli/package.json
  package.json
  packages/mercury-ui/biome.json
  packages/mercury-ui/package.json
  packages/mercury/package.json
  packages/remark-mercury/biome.jsonc
  packages/remark-mercury/package.json
  packages/vite-plugin-mercury/biome.jsonc
  packages/vite-plugin-mercury/package.json
Due: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

docs: add README
  README.md
Due: none

docs: add README (#29)
  README.md
Due: none

style: apply biome
  packages/mercury-ui/src/components/blockquote/blockquote.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/control-menu/color-scheme-button.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/control-menu/vertical-divider.tsx
  packages/mercury-ui/src/components/keyboard/keyboard.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/mercury-ui/src/components/tooltip/tooltip.tsx
Due: mercury-ui/biome

fix: layout styles when print
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/mercury-ui/src/index.css
Due: mercury-ui/biome

feat: add page to display all slides for printing
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
Due: mercury-ui/biome

feat(ui): add print button
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/control-menu/print-button.tsx
  packages/mercury-ui/src/components/presentation/all-slides-presentation.tsx
  packages/mercury-ui/src/components/presentation/index.ts
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/mercury-ui/src/hooks/use-search-params.ts
Due: mercury-ui/biome

feat: support pdf export (#35)
  packages/mercury-ui/src/components/blockquote/blockquote.tsx
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/control-menu/color-scheme-button.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/control-menu/print-button.tsx
  packages/mercury-ui/src/components/control-menu/vertical-divider.tsx
  packages/mercury-ui/src/components/keyboard/keyboard.tsx
  packages/mercury-ui/src/components/presentation/all-slides-presentation.tsx
  packages/mercury-ui/src/components/presentation/index.ts
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/mercury-ui/src/components/tooltip/tooltip.tsx
  packages/mercury-ui/src/hooks/use-search-params.ts
  packages/mercury-ui/src/index.css
Due: mercury-ui/biome

hotfix(ui): specify from params
  packages/mercury-ui/src/components/control-menu/print-button.tsx
Due: mercury-ui/biome

理大祭2024のスライドを作成
  bun.lockb
  examples/ridaisai-2024/.gitignore
  examples/ridaisai-2024/README.md
  examples/ridaisai-2024/biome.jsonc
  examples/ridaisai-2024/index.html
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/postcss.config.js
  examples/ridaisai-2024/public/ricora.svg
  examples/ridaisai-2024/src/assets/arch.drawio.svg
  examples/ridaisai-2024/src/assets/blog-article-link.png
  examples/ridaisai-2024/src/assets/blog-link.png
  examples/ridaisai-2024/src/assets/blog-repo-link.png
  examples/ridaisai-2024/src/assets/callout-demo.png
  examples/ridaisai-2024/src/assets/demo-slide.png
  examples/ridaisai-2024/src/assets/demo-video-link.svg
  examples/ridaisai-2024/src/assets/mercury-repo.png
  examples/ridaisai-2024/src/assets/remark-callout-repo.png
  examples/ridaisai-2024/src/components/center.tsx
  examples/ridaisai-2024/src/components/firework-button.tsx
  examples/ridaisai-2024/src/components/title.tsx
  examples/ridaisai-2024/src/main.css
  examples/ridaisai-2024/src/main.tsx
  examples/ridaisai-2024/src/presentation.mdx
  examples/ridaisai-2024/src/vite-env.d.ts
  examples/ridaisai-2024/tailwind.config.ts
  examples/ridaisai-2024/tsconfig.app.json
  examples/ridaisai-2024/tsconfig.json
  examples/ridaisai-2024/tsconfig.node.json
  examples/ridaisai-2024/vite.config.ts
Due: check-lockfile

理大祭2024のスライドを作成 (#46)
  bun.lockb
  examples/ridaisai-2024/.gitignore
  examples/ridaisai-2024/README.md
  examples/ridaisai-2024/biome.jsonc
  examples/ridaisai-2024/index.html
  examples/ridaisai-2024/package.json
  examples/ridaisai-2024/postcss.config.js
  examples/ridaisai-2024/public/ricora.svg
  examples/ridaisai-2024/src/assets/arch.drawio.svg
  examples/ridaisai-2024/src/assets/blog-article-link.png
  examples/ridaisai-2024/src/assets/blog-link.png
  examples/ridaisai-2024/src/assets/blog-repo-link.png
  examples/ridaisai-2024/src/assets/callout-demo.png
  examples/ridaisai-2024/src/assets/demo-slide.png
  examples/ridaisai-2024/src/assets/demo-video-link.svg
  examples/ridaisai-2024/src/assets/mercury-repo.png
  examples/ridaisai-2024/src/assets/remark-callout-repo.png
  examples/ridaisai-2024/src/components/center.tsx
  examples/ridaisai-2024/src/components/firework-button.tsx
  examples/ridaisai-2024/src/components/title.tsx
  examples/ridaisai-2024/src/main.css
  examples/ridaisai-2024/src/main.tsx
  examples/ridaisai-2024/src/presentation.mdx
  examples/ridaisai-2024/src/vite-env.d.ts
  examples/ridaisai-2024/tailwind.config.ts
  examples/ridaisai-2024/tsconfig.app.json
  examples/ridaisai-2024/tsconfig.json
  examples/ridaisai-2024/tsconfig.node.json
  examples/ridaisai-2024/vite.config.ts
Due: check-lockfile

hotfix
  examples/ridaisai-2024/src/presentation.mdx
Due: none

fix: ensure images are loaded when print pdf
  packages/mercury-ui/src/components/presentation/all-slides-presentation.tsx
Due: mercury-ui/biome

fix: ensure images are loaded when print pdf (#48)
  packages/mercury-ui/src/components/presentation/all-slides-presentation.tsx
Due: mercury-ui/biome

fix: support custom components
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury-ui/biome

fix: remove console.log
  packages/mercury-ui/src/components/presentation/presentation.tsx
Due: mercury-ui/biome

chore: create new example
  bun.lockb
  examples/program/.gitignore
  examples/program/README.md
  examples/program/biome.jsonc
  examples/program/index.html
  examples/program/package.json
  examples/program/postcss.config.js
  examples/program/public/arch.drawio.svg
  examples/program/public/vite.svg
  examples/program/src/Presentation.mdx
  examples/program/src/main.css
  examples/program/src/main.tsx
  examples/program/src/vite-env.d.ts
  examples/program/tailwind.config.ts
  examples/program/tsconfig.app.json
  examples/program/tsconfig.json
  examples/program/tsconfig.node.json
  examples/program/vite.config.ts
Due: check-lockfile

wip
  bun.lockb
  examples/minimum/.gitignore
  examples/minimum/README.md
  examples/minimum/biome.jsonc
  examples/minimum/hast_end.json
  examples/minimum/hast_start.json
  examples/minimum/index.html
  examples/minimum/jsx_end.jsx
  examples/minimum/jsx_start.jsx
  examples/minimum/mdast_after_remark_mercury copy.json
  examples/minimum/mdast_after_remark_mercury.json
  examples/minimum/mdast_before_remark_mercury.json
  examples/minimum/mdast_end.json
  examples/minimum/mdast_start.json
  examples/minimum/package.json
  examples/minimum/public/arch.drawio.svg
  examples/minimum/public/vite.svg
  examples/minimum/src/main.css
  examples/minimum/src/main.tsx
  examples/minimum/src/presentation.mdx
  examples/minimum/src/shiki.css
  examples/minimum/src/vite-env.d.ts
  examples/minimum/tsconfig.app.json
  examples/minimum/tsconfig.json
  examples/minimum/tsconfig.node.json
  examples/minimum/vite.config.ts
  examples/program/mdast_before_remark_mercury.json
  examples/program/postcss.config.js
  examples/program/public/arch.drawio.svg
  examples/program/src/Presentation.mdx
  examples/program/src/presentation.mdx
  examples/program/src/shiki.css
  examples/program/tailwind.config.ts
  mercury.code-workspace
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/heading/heading.tsx
  packages/remark-mercury/src/plugin.ts
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury-ui/biome, remark-mercury/biome, check-lockfile

wip
  examples/program/mdast_before_remark_mercury.json
  examples/program/src/presentation.mdx
  examples/program/src/snippets/presentation.jsx
  examples/program/src/snippets/presentation_simple_end.tsx
  examples/program/src/snippets/presentation_simple_start.tsx
Due: none
