Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: mercury/biome, mercury-ui/biome, remark-mercury/biome, react-without-cli-example/biome, check-lockfile

mercury/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

mercury-ui/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

remark-mercury/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

react-without-cli-example/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

check-lockfile:
  tags: lockfile
  run: bun install --frozen-lockfile

feat: add dropdown menu for theme toggle and update navigation structure
  bun.lock
  docs/package.json
  docs/src/components/toggle-color-scheme-button.tsx
  docs/src/components/ui/button.tsx
  docs/src/components/ui/dropdown-menu.tsx
  docs/src/components/ui/navigation-menu.tsx
  docs/src/pages.gen.ts
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/packages/[slug].tsx
  docs/src/pages/packages/index.tsx
Due: check-lockfile

ci(deploy-website): update workflow to deploy to Cloudflare Pages
  .github/workflows/deploy-website.yml
Due: none

ci(deploy-website): update workflow to deploy to Cloudflare Pages (#156)
  .github/workflows/deploy-website.yml
Due: none

chore: add shadcn mcp server
  .mcp.json
  bun.lock
  package.json
Due: none

chore: add shadcn mcp server (#161)
  .mcp.json
  bun.lock
  package.json
Due: none

fix: make landing page responsive for mobile devices
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/(main)/index.tsx
Due: none

feat: add mobile navigation drawer and improve responsive design
  docs/src/components/mobile-navigation.tsx
  docs/src/components/navigation.tsx
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/internal/playground-section.tsx
Due: none

fix(docs): improve playground section functionality and mobile UI
  bun.lock
  docs/package.json
  docs/src/components/mobile-navigation.tsx
  docs/src/components/ui/drawer.tsx
  docs/src/pages/(main)/index.tsx
  docs/src/pages/internal/playground-section.tsx
Due: check-lockfile

refactor(docs): restructure mobile navigation component for improved readability
  docs/src/components/mobile-navigation.tsx
Due: none

refactor(docs): improve mobile navigation design and layout
  docs/src/components/mobile-navigation.tsx
Due: none

style(docs): improve Mercury logo styling in mobile header
  docs/src/components/mobile-navigation.tsx
Due: none

build(mercury-ui): update ajv dependency to version 8.17.1
  bun.lock
  packages/mercury-ui/package.json
Due: mercury-ui/biome, check-lockfile

refactor(docs): consolidate navigation components into single module
  docs/src/components/mobile-navigation.tsx
  docs/src/components/navigation.tsx
  docs/src/pages/(main)/_layout.tsx
Due: none

feat(docs): enhance landing page mobile responsiveness and playground functionality (#163)
  bun.lock
  docs/package.json
  docs/src/components/navigation.tsx
  docs/src/components/ui/drawer.tsx
  docs/src/pages/(main)/_layout.tsx
  docs/src/pages/(main)/index.tsx
  docs/src/pages/internal/playground-section.tsx
  packages/mercury-ui/package.json
Due: mercury-ui/biome, check-lockfile

feat(docs): set geist as global font
  docs/src/pages/(main)/index.tsx
  docs/src/styles/globals.css
Due: none

feat: implement docs page
  bun.lock
  docs/biome.json
  docs/package.json
  docs/src/components/docs-header.tsx
  docs/src/components/docs-sidebar.tsx
  docs/src/components/ui/breadcrumb.tsx
  docs/src/components/ui/collapsible.tsx
  docs/src/components/ui/input.tsx
  docs/src/components/ui/label.tsx
  docs/src/components/ui/separator.tsx
  docs/src/components/ui/sheet.tsx
  docs/src/components/ui/sidebar.tsx
  docs/src/components/ui/tooltip.tsx
  docs/src/content/content.gen.ts
  docs/src/content/docs/customization/custom-components/index.mdx
  docs/src/content/docs/customization/extending-syntax/index.mdx
  docs/src/content/docs/features/code-block/index.mdx
  docs/src/content/docs/features/mathematics/index.mdx
  docs/src/content/docs/getting-started/installation/index.mdx
  docs/src/content/docs/getting-started/syntax-guide/index.mdx
  docs/src/content/index.ts
  docs/src/hooks/use-mobile.ts
  docs/src/lib/vite-plugins/content-typegen.ts
  docs/src/pages.gen.ts
  docs/src/pages/docs/[...slug].tsx
  docs/src/pages/docs/_layout.tsx
  docs/src/pages/packages/[slug].tsx
  docs/src/pages/packages/index.tsx
  docs/src/styles/globals.css
  docs/tsconfig.json
  docs/waku.config.ts
Due: check-lockfile

fix: add type guard for slug segment extraction
  docs/src/lib/vite-plugins/content-typegen.ts
Due: none

fix(vite-plugin-mercury): update dependencies for unist-util-visit and add @types/mdast
  bun.lock
  packages/vite-plugin-mercury/package.json
Due: check-lockfile

rename deploy -> release
  .github/workflows/release.yml
Due: none

changeset
  .changeset/late-geckos-relate.md
Due: none

rename example package names
  .changeset/config.json
  bun.lock
  docs/src/components/navigation.tsx
  docs/src/content/content.gen.ts
  docs/src/content/docs/packages/react/index.mdx
  docs/src/content/docs/packages/remark/index.mdx
  docs/src/content/docs/packages/vite-plugin/index.mdx
  docs/src/content/nav.ts
  examples/debug/package.json
  examples/lt/package.json
  examples/program/package.json
  examples/react/.gitignore
  examples/react/README.md
  examples/react/biome.jsonc
  examples/react/index.html
  examples/react/package.json
  examples/react/public/vite.svg
  examples/react/src/Presentation.mdx
  examples/react/src/main.css
  examples/react/src/main.tsx
  examples/react/src/vite-env.d.ts
  examples/react/tsconfig.app.json
  examples/react/tsconfig.json
  examples/react/tsconfig.node.json
  examples/react/vite.config.ts
  examples/ridaisai-2024/package.json
Due: check-lockfile

exclude examples and docs from changeset target
  .changeset/config.json
Due: none

ci(release): add write permissions
  .github/workflows/release.yml
Due: none

chore: remove private field
  packages/create-mercury/package.json
  packages/react/package.json
  packages/remark/package.json
  packages/vite-plugin/package.json
Due: check-lockfile

chore(vite-plugin): change version to 0.1.0
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Due: check-lockfile

fix(deps): update lockfile
  bun.lock
Due: none

chore(ci): update lockfile when versioning
  .github/workflows/release.yml
  package.json
Due: none

chore: use `bun publish` instead of `chengeset publish` to support "workspace:*"
  .github/workflows/release.yml
  bun.lock
  package.json
  packages/vite-plugin/package.json
Due: check-lockfile

chore: fix release script
  package.json
Due: none

changeset
  .changeset/olive-taxes-juggle.md
Due: none

docs: update manual installation instruction
  docs/src/content/docs/getting-started/installation/index.mdx
Due: none

chore(ci): fix to use NPM_CONFIG_TOKEN instead of NPM_CONFIG
  .github/workflows/release.yml
Due: none

fix(remark, vite-plugin): move some dependencies from devDependencies to dependencies
  .changeset/silver-glasses-chew.md
  bun.lock
  packages/remark/package.json
  packages/vite-plugin/package.json
Due: check-lockfile

docs: update installation instruction
  docs/src/content/docs/getting-started/installation/index.mdx
Due: none

Path conditions:
  mercury/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/mercury/
  mercury-ui/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/mercury\-ui/
  remark-mercury/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/remark\-mercury/
  react-without-cli-example/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^examples/react\-without\-cli/
  check-lockfile: any of: **/package.json
