Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-lockfile

biome:
  tags: biome
  stage_fixed: true
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

check-lockfile:
  tags: lockfile
  run: pnpm install --frozen-lockfile

Revert "chore: dont use turbo for build"
  .github/workflows/ci.yml
  build.sh
  package.json
Due: biome

chore: remove --concurrency=1
  .github/workflows/ci.yml
Due: none

chore: remove -vv
  .github/workflows/ci.yml
Due: none

chore(deps): align vite versions
  bun.lock
  docs/package.json
  examples/debug/package.json
  examples/lt/package.json
  examples/program/package.json
  examples/react/package.json
  examples/ridaisai-2024/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Due: biome, check-lockfile

perf: stop building all packages
  .github/workflows/ci.yml
Due: none

perf
  turbo.json
Due: biome

Update turbo.json
  turbo.json
Due: biome

chore(deps): update react
  bun.lock
  docs/package.json
  examples/debug/package.json
  examples/lt/package.json
  examples/program/package.json
  examples/react/package.json
  examples/ridaisai-2024/package.json
  packages/react/package.json
Due: biome, check-lockfile

chore: fix lockfile
  bun.lock
Due: none

chore: disable cache in ci to fix too long build (#309)
  .github/actions/setup/action.yml
  bun.lock
  docs/package.json
  examples/debug/package.json
  examples/lt/package.json
  examples/program/package.json
  examples/react/package.json
  examples/ridaisai-2024/package.json
  package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  turbo.json
Due: biome, check-lockfile

chore: enforce stricter kebab-case file naming convention
  biome.jsonc
Due: biome

chore: enforce stricter kebab-case file naming convention (#319)
  biome.jsonc
Due: biome

feat: hidden control-menu by default
  packages/react/src/components/control-menu/control-menu.stories.tsx
  packages/react/src/components/control-menu/control-menu.tsx
  packages/react/src/components/presentation/presentation.tsx
Due: biome

changeset
  .changeset/thick-aliens-prove.md
Due: none

fix: make control menu accessible on touch devices
  packages/react/src/components/control-menu/control-menu.tsx
  packages/react/src/hooks/use-is-mobile.ts
Due: biome

test: simplify use-is-mobile hook tests
  bun.lock
  packages/react/package.json
  packages/react/src/hooks/use-is-mobile.test.ts
  packages/react/vitest.unit.config.ts
Due: biome, check-lockfile

fix: unexpected error when overriding Slide component
  packages/react/src/components/presentation/presentation.tsx
Due: biome

changeset
  .changeset/twelve-lands-yawn.md
Due: none

test: add test to reproduce issue
  e2e/tests/react.spec.ts
  examples/react/src/main.tsx
Due: biome

feat: hidden control-menu by default (#322)
  .changeset/thick-aliens-prove.md
  bun.lock
  packages/react/package.json
  packages/react/src/components/control-menu/control-menu.stories.tsx
  packages/react/src/components/control-menu/control-menu.tsx
  packages/react/src/components/presentation/presentation.tsx
  packages/react/src/hooks/use-is-mobile.test.ts
  packages/react/src/hooks/use-is-mobile.ts
  packages/react/vitest.unit.config.ts
Due: biome, check-lockfile

refactor: remove ts-expect-error
  packages/react/src/components/presentation/presentation.tsx
Due: biome

test(e2e): use /all for all-slides render assertion
  e2e/tests/react.spec.ts
Due: biome

fix: unexpected error when overriding Slide component (#324)
  .changeset/twelve-lands-yawn.md
  e2e/tests/react.spec.ts
  examples/react/src/main.tsx
  packages/react/src/components/presentation/presentation.tsx
Due: biome

ci: use oidc token for npm publish
  .github/workflows/release.yml
  .tool-versions
Due: none

fix: harden supply chain boundaries
  .github/workflows/ci.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
  .mcp.json
  SECURITY.md
  bun.lock
  package.json
  scripts/check-supply-chain.test.ts
  scripts/check-supply-chain.ts
Due: biome

chore: remove supply chain policy checker
  .github/workflows/ci.yml
  SECURITY.md
  bun.lock
  docs/package.json
  examples/debug/package.json
  examples/lt/package.json
  examples/program/package.json
  examples/react/package.json
  examples/ridaisai-2024/package.json
  package.json
  packages/react/package.json
  scripts/check-supply-chain.test.ts
  scripts/check-supply-chain.ts
Due: biome, check-lockfile

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-lockfile: any of: **/package.json
