Repository r4ai/mercury: changes, and which lefthook commands are due for each by the changed paths.
All: mercury/biome, react-example/biome, check-lockfile

mercury/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --config-path=packages/mercury --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

react-example/biome:
  tags: biome
  stage_fixed: true
  run: bunx @biomejs/biome check --config-path=examples/react --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

check-lockfile:
  tags: lockfile
  run: bun install --frozen-lockfile

wip
  bun.lockb
  examples/react/package.json
  examples/react/src/App.css
  examples/react/src/App.tsx
  examples/react/src/Presentation.mdx
  examples/react/src/assets/react.svg
  examples/react/src/index.css
  examples/react/src/main.tsx
  examples/react/vite.config.ts
  packages/remark-mercury/biome.json
  packages/remark-mercury/package.json
  packages/remark-mercury/src/index.test.ts
  packages/remark-mercury/src/index.ts
  packages/remark-mercury/tsconfig.build.json
  packages/remark-mercury/tsconfig.json
Due: mercury/biome, react-example/biome, check-lockfile

remark-mercury
  bun.lockb
  examples/react/package.json
  examples/react/src/Presentation.mdx
  examples/react/src/main.tsx
  examples/react/vite.config.ts
  mercury.code-workspace
  packages/remark-mercury/package.json
  packages/remark-mercury/src/index.test.ts
  packages/remark-mercury/src/index.ts
  packages/remark-mercury/src/plugin.test.ts
  packages/remark-mercury/src/plugin.ts
Due: mercury/biome, react-example/biome, check-lockfile

feat: presentation
  packages/remark-mercury/biome.json
  packages/remark-mercury/src/plugin.test.ts
  packages/remark-mercury/src/plugin.ts
Due: mercury/biome, react-example/biome

wouter
  bun.lockb
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/components/Slide.tsx
  examples/react/src/main.tsx
  examples/react/vite.config.ts
  packages/remark-mercury/src/plugin.ts
Due: mercury/biome, react-example/biome, check-lockfile

bun create vite
  bun.lockb
  lefthook.yml
  packages/mercury-ui/.eslintrc.cjs
  packages/mercury-ui/.gitignore
  packages/mercury-ui/README.md
  packages/mercury-ui/index.html
  packages/mercury-ui/package.json
  packages/mercury-ui/public/vite.svg
  packages/mercury-ui/src/App.css
  packages/mercury-ui/src/App.tsx
  packages/mercury-ui/src/assets/react.svg
  packages/mercury-ui/src/index.css
  packages/mercury-ui/src/main.tsx
  packages/mercury-ui/src/vite-env.d.ts
  packages/mercury-ui/tsconfig.app.json
  packages/mercury-ui/tsconfig.json
  packages/mercury-ui/tsconfig.node.json
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

fix biome
  examples/react/biome.jsonc
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/main.css
  examples/react/src/main.tsx
  examples/react/tailwind.config.ts
  examples/react/vite.config.ts
  packages/mercury/biome.json
  packages/remark-mercury/biome.json
Due: mercury/biome, react-example/biome, check-lockfile

fix lefthook
  lefthook.yml
Due: none

init vite lib mode
  bun.lockb
  lefthook.yml
  mercury.code-workspace
  packages/mercury-ui/.eslintrc.cjs
  packages/mercury-ui/biome.json
  packages/mercury-ui/index.html
  packages/mercury-ui/package.json
  packages/mercury-ui/public/vite.svg
  packages/mercury-ui/src/App.css
  packages/mercury-ui/src/App.tsx
  packages/mercury-ui/src/assets/react.svg
  packages/mercury-ui/src/components/button/button.tsx
  packages/mercury-ui/src/components/button/index.ts
  packages/mercury-ui/src/components/index.ts
  packages/mercury-ui/src/index.css
  packages/mercury-ui/src/index.ts
  packages/mercury-ui/src/main.tsx
  packages/mercury-ui/vite.config.ts
  packages/mercury/biome.json
  packages/mercury/package.json
Due: mercury/biome, react-example/biome, check-lockfile

add tailwindcss
  bun.lockb
  package.json
  packages/mercury-ui/package.json
  packages/mercury-ui/src/index.css
  packages/mercury-ui/src/index.ts
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

動作確認
  bun.lockb
  examples/react/package.json
  examples/react/src/App.tsx
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/button/button.tsx
Due: mercury/biome, react-example/biome, check-lockfile

add storybook
  .tool-versions
  bun.lockb
  examples/react/index.html
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/components/Slide.tsx
  examples/react/src/main.css
  packages/mercury-ui/.gitignore
  packages/mercury-ui/.storybook/main.ts
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/.storybook/vite.config.ts
  packages/mercury-ui/biome.json
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/button/button.tsx
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

add storybook
  bun.lockb
  mercury.code-workspace
  packages/mercury-ui/.storybook/main.ts
  packages/mercury-ui/.storybook/manager.ts
  packages/mercury-ui/.storybook/preview.css
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/.storybook/vite.config.ts
  packages/mercury-ui/biome.json
  packages/mercury-ui/package.json
  packages/mercury-ui/postcss.config.js
  packages/mercury-ui/src/components/button/button.stories.tsx
  packages/mercury-ui/src/components/button/button.tsx
  packages/mercury-ui/src/index.css
  packages/mercury-ui/src/libs/utils.ts
  packages/mercury-ui/tailwind.config.ts
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

manage externalized deps with vite plugin
  bun.lockb
  packages/mercury-ui/package.json
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

fix
  bun.lockb
  packages/mercury-ui/package.json
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

feat: control-menu
  bun.lockb
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/components/Slide.tsx
  examples/react/src/main.tsx
  packages/mercury-ui/.storybook/preview.ts
  packages/mercury-ui/.storybook/vite.config.ts
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/control-menu/color-scheme-button.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.stories.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/control-menu/fullscreen-button.tsx
  packages/mercury-ui/src/components/control-menu/hooks/use-slides.ts
  packages/mercury-ui/src/components/control-menu/index.ts
  packages/mercury-ui/src/components/control-menu/next-slide-button.tsx
  packages/mercury-ui/src/components/control-menu/prev-slide-button.tsx
  packages/mercury-ui/src/components/control-menu/vertical-divider.tsx
  packages/mercury-ui/src/components/index.ts
  packages/mercury-ui/src/index.css
  packages/mercury-ui/tsconfig.app.json
  packages/mercury-ui/vite.config.ts
Due: mercury/biome, react-example/biome, check-lockfile

minimal feature
  bun.lockb
  examples/react/src/App.tsx
  examples/react/src/Presentation.mdx
  examples/react/src/components/Slide.tsx
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/blockquote/blockquote.stories.tsx
  packages/mercury-ui/src/components/blockquote/blockquote.tsx
  packages/mercury-ui/src/components/blockquote/index.ts
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/control-menu/control-menu.tsx
  packages/mercury-ui/src/components/control-menu/counter.tsx
  packages/mercury-ui/src/components/control-menu/hooks/use-slides.ts
  packages/mercury-ui/src/components/heading/heading.stories.tsx
  packages/mercury-ui/src/components/heading/heading.tsx
  packages/mercury-ui/src/components/heading/index.ts
  packages/mercury-ui/src/components/index.ts
  packages/mercury-ui/src/components/inline-code/index.ts
  packages/mercury-ui/src/components/inline-code/inline-code.tsx
  packages/mercury-ui/src/components/keyboard/index.ts
  packages/mercury-ui/src/components/keyboard/keyboard.tsx
  packages/mercury-ui/src/components/link/index.ts
  packages/mercury-ui/src/components/link/link.tsx
  packages/mercury-ui/src/components/list/index.ts
  packages/mercury-ui/src/components/list/list.tsx
  packages/mercury-ui/src/components/paragraph/index.ts
  packages/mercury-ui/src/components/paragraph/paragraph.tsx
Due: mercury/biome, react-example/biome, check-lockfile

vite-plugin-mercury
  bun.lockb
  examples/react/package.json
  examples/react/vite.config.ts
  mercury.code-workspace
  packages/vite-plugin-mercury/biome.json
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/index.ts
  packages/vite-plugin-mercury/src/plugin.ts
  packages/vite-plugin-mercury/src/plugins/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/tsconfig.build.json
  packages/vite-plugin-mercury/tsconfig.json
Due: mercury/biome, react-example/biome, check-lockfile

math
  bun.lockb
  examples/react/package.json
  examples/react/src/Presentation.mdx
  examples/react/src/main.tsx
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
Due: mercury/biome, react-example/biome, check-lockfile

wip
  bun.lockb
  examples/react-without-cli/.gitignore
  examples/react-without-cli/README.md
  examples/react-without-cli/biome.jsonc
  examples/react-without-cli/index.html
  examples/react-without-cli/package.json
  examples/react-without-cli/public/vite.svg
  examples/react-without-cli/src/App.tsx
  examples/react-without-cli/src/Presentation.mdx
  examples/react-without-cli/src/main.css
  examples/react-without-cli/src/main.tsx
  examples/react-without-cli/src/vite-env.d.ts
  examples/react-without-cli/tailwind.config.ts
  examples/react-without-cli/tsconfig.app.json
  examples/react-without-cli/tsconfig.json
  examples/react-without-cli/tsconfig.node.json
  examples/react-without-cli/vite.config.ts
  examples/react/src/App.tsx
  lefthook.yml
  mercury.code-workspace
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/index.ts
  packages/mercury-ui/src/components/link/link.tsx
  packages/mercury-ui/src/components/presentation/index.ts
  packages/mercury-ui/src/components/presentation/presentation.tsx
  packages/mercury-ui/src/components/slide/index.ts
  packages/mercury-ui/src/components/slide/slide.tsx
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugin.ts
  packages/vite-plugin-mercury/src/plugins/presentation/index.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury/biome, react-example/biome, check-lockfile

add ci
  .github/workflows/ci.yml
  .vscode/settings.json
  bun.lockb
  examples/react-without-cli/src/vite-env.d.ts
  packages/mercury/package.json
  packages/remark-mercury/package.json
  packages/vite-plugin-mercury/biome.json
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/index.ts
  packages/vite-plugin-mercury/src/plugin.test.ts
  packages/vite-plugin-mercury/src/plugin.ts
  packages/vite-plugin-mercury/src/plugins/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
  packages/vite-plugin-mercury/tsconfig.build.json
  turbo.json
Due: mercury/biome, react-example/biome, check-lockfile

works!
  bun.lockb
  examples/react-without-cli/src/App.tsx
  examples/react-without-cli/src/Presentation.mdx
  examples/react-without-cli/vite.config.ts
  packages/mercury-ui/src/components/components.tsx
  packages/remark-mercury/src/plugin.ts
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugin.ts
  packages/vite-plugin-mercury/src/plugins/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/presentation/index.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury/biome, react-example/biome, check-lockfile

feat: code block
  bun.lockb
  examples/react-without-cli/src/Presentation.mdx
  packages/mercury-ui/package.json
  packages/mercury-ui/src/components/code-block/code-block.tsx
  packages/mercury-ui/src/components/code-block/index.ts
  packages/mercury-ui/src/components/code-block/shiki.css
  packages/mercury-ui/src/components/components.tsx
  packages/mercury-ui/src/components/tooltip/index.ts
  packages/mercury-ui/src/components/tooltip/tooltip.tsx
  packages/vite-plugin-mercury/package.json
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/line-numbers.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/meta-diff.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/title.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/utils.ts
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/index.ts
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.ts
Due: mercury/biome, react-example/biome, check-lockfile

chore: tailwindcss@4 -> tailwindcss@3
  bun.lockb
  examples/react-without-cli/package.json
  examples/react-without-cli/postcss.config.js
  examples/react-without-cli/src/main.css
  examples/react-without-cli/src/main.tsx
  examples/react-without-cli/tailwind.config.ts
  examples/react-without-cli/vite.config.ts
  packages/mercury-ui/src/components/slide/slide.tsx
Due: mercury/biome, react-example/biome, check-lockfile

feat: add sample slide
  examples/react-without-cli/src/App.tsx
  examples/react-without-cli/src/Presentation.mdx
  examples/react-without-cli/src/main.tsx
Due: mercury/biome, react-example/biome

chore: remove unused deps
  bun.lockb
  examples/react-without-cli/package.json
Due: mercury/biome, react-example/biome, check-lockfile

format
  bun.lockb
  packages/vite-plugin-mercury/src/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/plugin.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/line-numbers.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/title.ts
  packages/vite-plugin-mercury/src/plugins/mdx/rehype-transformers/utils.ts
  packages/vite-plugin-mercury/src/plugins/mdx/remark-plugins/remark-inline-code.ts
  packages/vite-plugin-mercury/src/plugins/presentation/index.ts
  packages/vite-plugin-mercury/src/plugins/presentation/plugin.ts
Due: mercury/biome, react-example/biome

feat: add options for MercuryPresentationOptions in vite-plugin-mercury
  bun.lockb
  packages/vite-plugin-mercury/src/plugin.ts
Due: mercury/biome, react-example/biome

format
  packages/vite-plugin-mercury/src/plugin.ts
Due: mercury/biome, react-example/biome

fix: biome configs
  .vscode/settings.json
  biome.jsonc
  package.json
  packages/mercury-ui/biome.json
  packages/mercury/biome.json
  packages/remark-mercury/biome.json
  packages/remark-mercury/biome.jsonc
  packages/vite-plugin-mercury/biome.jsonc
Due: mercury/biome, react-example/biome

format
  examples/react-without-cli/postcss.config.js
  examples/react-without-cli/src/main.tsx
  examples/react-without-cli/src/vite-env.d.ts
  examples/react-without-cli/tailwind.config.ts
  examples/react-without-cli/vite.config.ts
Due: mercury/biome, react-example/biome

Update renovate.json to include best practices and custom managers for biome versions
  renovate.json
Due: mercury/biome, react-example/biome

chore: update deps
  bun.lockb
  package.json
Due: mercury/biome, react-example/biome

chore: renave deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: add utility commands actions
  .github/workflows/commands.yml
Due: none

chore(deps): fix lockfile
  bun.lockb
Due: none

chore: fix branch
  .github/workflows/commands.yml
Due: none

chore: fix permission
  .github/workflows/commands.yml
Due: none

chore: fix push actions
  .github/workflows/commands.yml
Due: none

Path conditions:
  mercury/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  react-example/biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-lockfile: any of: **/package.json
